*{
  margin:0;
  padding: 0;
}
.slick-container{
    max-width:1000px;
    width:90%;
    margin:50px auto 0px auto;
}
.slide{
  border: 1px solid gray;
  box-sizing: border-box;
   padding: 10px;
}
.slick-slide{
  margin: 10px;
 
}
.slick-prev:before {
    content: '<' !important;
}
.slick-next:before {
    content: '>' !important;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 1;
    opacity: 1 !important;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    padding: 5px;
    cursor: pointer;
    color: black !important;
    border: 0;
    outline: none;
    background: gray !important;
}
.slick-dots li button:hover{
  background: black !important;
}
.slick-dots li button:before {
  content: '' !important;

}